/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	/* margin-bottom: 1em; */
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.btn-conteneur {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
	margin-top: 1rem;
	text-align: center;
}

.inactif-btn {
	border-color: #1D6154;
	border-width: 1.5px;
	border-radius: 15px;
	color: #1D6154;
	font: inherit;
	font-size: 1rem;
	font-weight: bold;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: white;
	margin: 10px;
	text-align: center;
}

.actif-btn {
	background-color: #1D6154;
	color: white;
}


.top-portfolio {
display: flex;
justify-content: center;
align-items: center;
}

.edit-galery-conteneur {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.edit-galery-conteneur a {
	text-decoration: none;
}

.edit-galery-conteneur a:visited {
	color: black;
}

.fa-pen-to-square {
	padding-left: 10px;
	margin-left: 10px;
	margin-right: 10px;
}


/* Login */
.error {
	display: none;
	color:  red;
}


/* Gestion de la modal */

::backdrop {
	background-color: black;
	opacity: 0.75;
}

dialog {
	width: 35%;
	height: 60%;
	border: none;
	border-radius: 10px;
}

.modal-conteneur {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
}

.close-btn {
	border: none;
	background: none;
	font-size: 20px;
}

.top-modal {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}

.top-modal h2 {
	color: inherit;
	font-family: inherit;
	font-weight: 500;
}

.gallery-modal {
	padding: 15px;
	width: 65%;
	height: 65%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 5px;
	border-bottom: lightgray solid 2px;
}

.add-work-btn {
	margin-top: 45px;
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	text-align: center;
	border-radius: 60px ;
}

.gallery-modal img {
	width: 100%;
}

.gallery-modal figure {
	position: relative;
}

.fa-trash-can {
	color: white;
	background-color: black;
	font-size: 10px;
	border-radius: 3px;
	padding: 4px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.fa-image {
	font-size: 4.8rem;
	color: #B9C5CC;
	margin-bottom: 10px;
}

.add-picture-conteneur {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 20px;
	align-items: center;
	background-color: #e8F1F6;
	margin: auto;
	height: 180px;
	width: 100%;
	position: relative;
}

.add-picture-conteneur p {
	color: gray;
	margin-top: 8px;
	font-size: 0.8rem;
}

#add-image {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
}

.add-image-btn {
	font-family: inherit;
	color: #437490;
	background-color: #CBD6DC;
	font-size: 14px;
	border: none;
	border-radius: 25px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 30px;
	padding-right: 30px;
}

.add-content {
	display: flex;
	flex-direction: column;
	/* padding-left: 60px; */
	margin-top: 40px;
	border-bottom: lightgray solid 2px;
	width: 100%;
}

.add-content label {
	margin-bottom: 5px;
}

.add-work-form {
	display: flex;
	flex-direction: column;
	margin-left: 50px;
	margin-right: 50px;
}


.top-modal-work {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}
.top-modal-work div {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.fa-arrow-left {
	font-size: large;
}

.add-work-valider {
	width: 55%;
}

.add-content input {
	border: none;
    box-shadow: 5px 5px 6px 4px lightgray;
    height: 45px;
    width: 100%;
    margin-bottom: 30px;
}

.add-work-valider {
	height: 45px;
	border: none;
    box-shadow: 5px 5px 6px 4px lightgray;
}


